* {
    box-sizing: border-box'
}

header h1{
    background-color: grey;
    text-align: center;
    padding: 25px;
}

aside {
    width: 20%;
    float: left;
    padding: 5px;
}

section {
    width: 40%;
    float: left;
    padding: 5px;
}

article {
    width: 30%;
    float: left;
    padding: 5px;
}

footer {
    background-color: rgb(207, 207, 207);
    text-align: center;
    padding: 25px;
    clear: both;
    display: block;
}
