* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 249, 234);
    font-family: "Quicksand";
}

header .nav-bar {
    display: flex;
    justify-content: center; /* căn giữa nội dung */
    align-items: center;      /* căn giữa theo chiều dọc */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(186, 223, 219);
}

header .nav-bar h3 {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.8em;
}

header .nav-bar h3:first-letter {
    font-size: 1.2em;
}

main {
    margin-top: 60px;
}

main .head-main {
    margin-bottom: 20px;
    text-align: center;
    color: rgb(148, 122, 205);
}

main .ctn-main img{
    float:  left;
    margin: 20px;
    width: 500px;
    height: auto;
}

main .ctn-main p {
    font-size: 1.3em;
}

main .vid-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .vid-ctn video{
    margin: 20px;
    width: 700px;
    height: auto;
}

main .wish {
    font-size: 1.3em;
}
